.body-container {
  background: #003d59;
  margin-bottom: 30%;
}
.frontCover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(172, 149, 149, 0.911);
  width: 100%;
  height: 20rem;
}

.item-frontCover {
  font-size: 4rem;
  color: white;
}